customtkinter
langchain_community # <-- ADD THIS LINE
langchain
langchain_google_genai
chromadb==0.5.3
pandas
openpyxl
python-docx
pypdf
unstructured[xlsx]
rdkit
numpy<2.0
onnxruntime==1.16.3
pydantic
langchain_tavily
